BODY
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: white;
    COLOR: black;
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

TABLE, TR, TD, P, BR {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
}

.PAGEHEADER {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    COLOR: black;
    BACKGROUND-COLOR: white;
}
.CONTENTHEADER {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    COLOR: white;
    BACKGROUND-COLOR: #00008B;
    PADDING: 10px;
    MARGIN: 0px;
}
.PAGETAB {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: #00008B;
    BACKGROUND-COLOR: #C5D6FC;
    BORDER-STYLE: solid;
    BORDER-COLOR: #C5D6FC;
    PADDING: 5px;
}
.PAGETAB-SELECTED {	
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    COLOR: #00008B;
	BACKGROUND-COLOR: #C5D6FC;
    BORDER-STYLE: solid;
    BORDER-COLOR: #C5D6FC;	
    PADDING: 5px;
}
.PAGECONTENT {
    BACKGROUND-COLOR: #E8E8E8;
}
.COPYRIGHT {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
}
.BORDERCOLOR {
    BACKGROUND-COLOR: #00008B;
}
.BORDER {
    PADDING: 0px;
    BORDER: 2px solid #00008B;
}

HR.SEPARATORLINE {
    COLOR: #00008B;
}
A:LINK, A:VISITED, A:ACTIVE {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    COLOR: #0033CC;
    TEXT-DECORATION: underline;
}
A:HOVER {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    COLOR: #00008B;
    TEXT-DECORATION: underline;
}
.ERRORFIELD {
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #FFDDDD;
    BORDER-COLOR: #E80000;
    BORDER-STYLE: solid;
}
.STATUSBOX {
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    COLOR: #00008B;
    BACKGROUND-COLOR: #C5D6FC;
    BORDER-COLOR: #00008B;
    BORDER-STYLE: solid;
    BORDER-WIDTH: thin;
}
.ERRORBOX {
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    COLOR: #E80000;
    BACKGROUND-COLOR: #FFDDDD;
    BORDER-COLOR: #E80000;
    BORDER-STYLE: solid;
    BORDER-WIDTH: thin;
}
.ACTIVE {
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #228B22;
}
.INACTIVE {
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #00008B;
}

