var counter = 0;
var screenWidth = 123;
var menuSpace = 2;
var menuRightMargin = 25;
var objMenuOver = null;
var objMenuMain = null;
var objMenuMainHide = null;
function replaceContent( obj, name, content )
{
  if ( document.layers )
  {
    obj.document.open();
	obj.document.writeln( content );
	obj.document.close();
  }
  else if(document.getElementById && document.getElementsByName)
  { 
    if(document.getElementById(name))                      //First try to find by id
	{
       document.getElementById(name).innerHTML = content;
	}
    else if (document.getElementsByName(name))             //Then if that fails by name
	{
	   document.getElementsByName(name)[0].innerHTML = content;
	}
  }
  else if ( document.all )
  {
    var str = "document.all." + name + ".innerHTML = ' " + content + "'";
	eval(str);
  }
}

function submenuSetVisibility(obj, visibility)
{
  if (null != obj.fjSubmenus)
  {
    var str = "" ;
    var j = 0;
	while ( j < obj.fjSubmenus.length )
	{
	  var ch = obj.fjSubmenus.charAt(j);
	  if ( ',' != ch )
	  {
	    str += ch;
	  }
	  else
	  {
	    setEltVisibility( getElt(str), visibility)
	    str="";
	  }
	  j++;
	}
  }
}

function menuOver(obj)
{
  if ( obj != objMenuOver )
  {
    if ( null != objMenuOver ) menuOut(objMenuOver);
  }
  if ( obj != objMenuOver )
  {
	if( null != objMenuMainHide )
	{
	  if( obj.fjMainmenu == objMenuMainHide.id )
	  {
	    objMenuMainHide = null;
	  }
	  else
	  {
	    menuHide();
	  }
    }
	if (null == obj.fjSubmenus)
	{
      objMenuOver = obj;
      var str = '';
	  if ( null != obj.fjLinkHref ) str = '<a href='+obj.fjLinkHref+'>';
      str += '<SPAN class="fjmenuhover">&nbsp;'+obj.fjText+'&nbsp;</SPAN>'
	  if ( null != obj.fjLinkHref ) str += '</a>';
      replaceContent( obj, obj.id, str );
	}
    else
	{
	  objMenuMainHide = null;
	  objMenuMain = obj;
	  submenuSetVisibility(obj, 'visible')
	}
  }
}
function menuOut(obj)
{
  var str = '<SPAN class="fjmenu">&nbsp;'+obj.fjText+'&nbsp;</SPAN>'
  replaceContent( obj, obj.id, str );

  if ( obj == objMenuOver ) objMenuOver = null;

  if (null != objMenuMain)
  {
    objMenuMainHide = objMenuMain;
    setTimeout("menuHide()",200);
  }
}

function menuHide()
{
  if ( null != objMenuMainHide )
  {
    var obj = objMenuMainHide;
	objMenuMainHide = null;
	submenuSetVisibility(obj, 'hidden');
  }
}


function menuResize()
{
  screenWidth = getCurrentWinWidth() ;

  objcf = getElt("cf");
  menuOut( objcf );
  setEltLeft( objcf, screenWidth - getEltWidth(objcf) - menuRightMargin );
  objleft = objcf;
  
  objprev = objleft;
  objthis = getElt("cfptr");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev)); 
  
  objprev = objthis;
  objthis = getElt("cfsysin");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev));
  
  objprev = objthis;
  objthis = getElt("cfsystm");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev));

  objprev = objthis;
  objthis = getElt("cfeth");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev)); 

  objprev = objthis;
  objthis = getElt("cfpw");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev)); 

  objprev = objthis;
  objthis = getElt("cfman");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev)); 

  objprev = objthis;
  objthis = getElt("cfmaint");
  menuOut( objthis );
  setEltLeft( objthis, getEltLeft(objleft) );
  setEltTop ( objthis, getEltPageTop(objprev) + getEltHeight(objprev)); 


  objst = getElt("st");
  menuOut( objst );
  setEltLeft( objst, getEltLeft(objcf) - getEltWidth(objst) - menuSpace );

  objmf = getElt("mf");
  menuOut( objmf );
  setEltLeft( objmf, getEltLeft(objst) - getEltWidth(objmf) - menuSpace );

  objmflbl = getElt("mflbl");
  menuOut( objmflbl );
  setEltLeft ( objmflbl, getEltLeft(objmf) );
  setEltTop  ( objmflbl, getEltPageTop(objmf) + getEltHeight(objmf));

  objmffont = getElt("mffont");
  menuOut( objmffont );
  setEltLeft ( objmffont, getEltLeft(objmf) );
  setEltTop  ( objmffont, getEltPageTop(objmflbl) + getEltHeight(objmflbl));
  objmfbmp = getElt("mfbmp");
  menuOut( objmfbmp );
  setEltLeft ( objmfbmp, getEltLeft(objmf) );
  setEltTop  ( objmfbmp, getEltPageTop(objmffont) + getEltHeight(objmffont));
  objmfvard = getElt("mfvard");
  menuOut( objmfvard );
  setEltLeft ( objmfvard, getEltLeft(objmf) );
  setEltTop  ( objmfvard, getEltPageTop(objmfbmp) + getEltHeight(objmfbmp));

  objph = getElt("ph");
  menuOut( objph );
  setEltLeft( objph, getEltLeft(objmf) - getEltWidth(objph) - menuSpace );  
  showElt( objph );
  showElt( objmf );
  showElt( objst );
  showElt( objcf );
}
function menuInit()
{
  menuResize();
}
function printersResize()
{
}
function printersInit()
{
  printersResize();
}

function fjInit()
{
  printersInit();
  menuInit();
}
function fjResize()
{
  printersResize();
  menuResize();
}
