<link rel="stylesheet" href="fjipstyle1.css">
<SCRIPT type="text/javascript" SRC="fjscript_layers.htm"></SCRIPT>
<SCRIPT type="text/javascript" SRC="fjscript_menu_func.htm"></SCRIPT>
</head>
<body onload="fjInit()" onresize="fjResize()">
<table border="0" width="100%">
<tr valign="top">
<td rowspan="2" width="_NZZA_LOGO_WIDTH"><img border="0" src="fjlogo.jpg" width="_NZZA_LOGO_WIDTH" height="_NZZA_LOGO_HEIGHT"></td>
<td><div class="fjh1">_NZZA_LNam Printer Group</div>
</td>
<td>&nbsp;</td>
</tr>
<tr valign="bottom">
<td><div class="fjh2">_NZZA_GRNAME</div>
</td>
<td>&nbsp;</td>
</tr>
</table>
<hr>
<left>
<span class="fjh2">_NZZA_ID : <SCRIPT type="text/javascript">document.writeln(h2text);</SCRIPT></span>
</left>
<SCRIPT type="text/javascript">
var pwid_js="_NZZA_PWID";
</SCRIPT>
<SCRIPT type="text/javascript" SRC="fjscript_menu.htm"></SCRIPT>
<p>&nbsp;</p>