<head>
<link rel=stylesheet href=fjipstyle1.css>
<SCRIPT type="text/javascript" SRC="fjscript_layers.htm"></SCRIPT>
<SCRIPT type="text/javascript" SRC="fjscript_menu_func.htm"></SCRIPT>
</head>
<body onload="fjInit()" onresize="fjResize()">
<table border=0 width=100%>
 <tr valign=top><td rowspan=2 width=160><img border=0 src=fjlogo.jpg width=160></td><td><div class=fjh1>_NZZA_LNam Printer Group</div></td><td>&nbsp;</td></tr>
 <tr valign=bottom><td><div class=fjh2>_NZZA_GRNAME</div></td><td>&nbsp;
<SCRIPT type="text/javascript">
/*
  var aTag = "onMouseOver=menuOver(this) onMouseOut=menuOut(this)";
  writeElt( "FJ2001", "FJ2001",false,false,false,false,false,"hidden",false,false,false,false,false,false,"fjmenu",aTag );
  objElt = getElt( "FJ2001" );
  objElt.fjText = "FJ2001";
  objElt.fjLinkHref = "javascript:window.open(\"http://_NZZA_IPA /printhead.htm\");document.location.reload();";
  objElt.fjMainmenu = null;
  objElt.fjSubmenus = null;
  writeElt( "FJ1944", "FJ1944",false,false,false,false,false,"hidden",false,false,false,false,false,false,"fjmenu",aTag );
  objElt = getElt( "FJ1944" );
  objElt.fjText = "FJ1944";
  objElt.fjLinkHref = "javascript:window.open(\"http://_NZZA_IPA /printhead.htm\");document.location.reload();";
  objElt.fjMainmenu = null;
  objElt.fjSubmenus = null;
  writeElt( "FJ1812", "FJ1812",false,false,false,false,false,"hidden",false,false,false,false,false,false,"fjmenu",aTag );
  objElt = getElt( "FJ1812" );
  objElt.fjText = "FJ1812";
  objElt.fjLinkHref = "javascript:window.open(\"http://_NZZA_IPA /printhead.htm\");document.location.reload();";
  objElt.fjMainmenu = null;
  objElt.fjSubmenus = null;
  writeElt( "FJ1701", "FJ1701",false,false,false,false,false,"hidden",false,false,false,false,false,false,"fjmenu",aTag );
  objElt = getElt( "FJ1701" );
  objElt.fjText = "FJ1701";
  objElt.fjLinkHref = "printhead.htm";
  objElt.fjMainmenu = null;
  objElt.fjSubmenus = null;
  */
  </SCRIPT>
     </td></tr>
</table>
<hr>
<left><span class=fjh2>_NZZA_ID : <SCRIPT type="text/javascript">document.writeln(h2text);</SCRIPT></span></left>
<SCRIPT type="text/javascript" SRC="fjscript_menu.htm"></SCRIPT>
<br>
<br>
